@import "../../utils/mixins.scss";

.calculatorContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:rem(16);
    .input_element {
        width: 100%;
    }
}